test1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://github.com/BM345/NagwaSchemas" xmlns="https://github.com/BM345/NagwaSchemas" elementFormDefault="qualified">
    <xs:simpleType name="reference">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9_\-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="roles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="role" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
