scope/scope.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="__type__d__id">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="__type__d__derivative_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="translation"/>
            <xs:enumeration value="localization"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="__type__d__versionNumber">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="__type__d__iso_639_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ab"/>
            <xs:enumeration value="aa"/>
            <xs:enumeration value="af"/>
            <xs:enumeration value="ak"/>
            <xs:enumeration value="sq"/>
            <xs:enumeration value="am"/>
            <xs:enumeration value="ar"/>
            <xs:enumeration value="an"/>
            <xs:enumeration value="hy"/>
            <xs:enumeration value="as"/>
            <xs:enumeration value="av"/>
            <xs:enumeration value="ae"/>
            <xs:enumeration value="ay"/>
            <xs:enumeration value="az"/>
            <xs:enumeration value="bm"/>
            <xs:enumeration value="ba"/>
            <xs:enumeration value="eu"/>
            <xs:enumeration value="be"/>
            <xs:enumeration value="bn"/>
            <xs:enumeration value="bh"/>
            <xs:enumeration value="bi"/>
            <xs:enumeration value="bs"/>
            <xs:enumeration value="br"/>
            <xs:enumeration value="bg"/>
            <xs:enumeration value="my"/>
            <xs:enumeration value="ca"/>
            <xs:enumeration value="ch"/>
            <xs:enumeration value="ce"/>
            <xs:enumeration value="ny"/>
            <xs:enumeration value="zh"/>
            <xs:enumeration value="cv"/>
            <xs:enumeration value="kw"/>
            <xs:enumeration value="co"/>
            <xs:enumeration value="cr"/>
            <xs:enumeration value="hr"/>
            <xs:enumeration value="cs"/>
            <xs:enumeration value="da"/>
            <xs:enumeration value="dv"/>
            <xs:enumeration value="nl"/>
            <xs:enumeration value="dz"/>
            <xs:enumeration value="en"/>
            <xs:enumeration value="eo"/>
            <xs:enumeration value="et"/>
            <xs:enumeration value="ee"/>
            <xs:enumeration value="fo"/>
            <xs:enumeration value="fj"/>
            <xs:enumeration value="fi"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="ff"/>
            <xs:enumeration value="gl"/>
            <xs:enumeration value="ka"/>
            <xs:enumeration value="de"/>
            <xs:enumeration value="el"/>
            <xs:enumeration value="gn"/>
            <xs:enumeration value="gu"/>
            <xs:enumeration value="ht"/>
            <xs:enumeration value="ha"/>
            <xs:enumeration value="he"/>
            <xs:enumeration value="hz"/>
            <xs:enumeration value="hi"/>
            <xs:enumeration value="ho"/>
            <xs:enumeration value="hu"/>
            <xs:enumeration value="ia"/>
            <xs:enumeration value="id"/>
            <xs:enumeration value="ie"/>
            <xs:enumeration value="ga"/>
            <xs:enumeration value="ig"/>
            <xs:enumeration value="ik"/>
            <xs:enumeration value="io"/>
            <xs:enumeration value="is"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="iu"/>
            <xs:enumeration value="ja"/>
            <xs:enumeration value="jv"/>
            <xs:enumeration value="kl"/>
            <xs:enumeration value="kn"/>
            <xs:enumeration value="kr"/>
            <xs:enumeration value="ks"/>
            <xs:enumeration value="kk"/>
            <xs:enumeration value="km"/>
            <xs:enumeration value="ki"/>
            <xs:enumeration value="rw"/>
            <xs:enumeration value="ky"/>
            <xs:enumeration value="kv"/>
            <xs:enumeration value="kg"/>
            <xs:enumeration value="ko"/>
            <xs:enumeration value="ku"/>
            <xs:enumeration value="kj"/>
            <xs:enumeration value="la"/>
            <xs:enumeration value="lb"/>
            <xs:enumeration value="lg"/>
            <xs:enumeration value="li"/>
            <xs:enumeration value="ln"/>
            <xs:enumeration value="lo"/>
            <xs:enumeration value="lt"/>
            <xs:enumeration value="lu"/>
            <xs:enumeration value="lv"/>
            <xs:enumeration value="gv"/>
            <xs:enumeration value="mk"/>
            <xs:enumeration value="mg"/>
            <xs:enumeration value="ms"/>
            <xs:enumeration value="ml"/>
            <xs:enumeration value="mt"/>
            <xs:enumeration value="mi"/>
            <xs:enumeration value="mr"/>
            <xs:enumeration value="mh"/>
            <xs:enumeration value="mn"/>
            <xs:enumeration value="na"/>
            <xs:enumeration value="nv"/>
            <xs:enumeration value="nd"/>
            <xs:enumeration value="ne"/>
            <xs:enumeration value="ng"/>
            <xs:enumeration value="nb"/>
            <xs:enumeration value="nn"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="ii"/>
            <xs:enumeration value="nr"/>
            <xs:enumeration value="oc"/>
            <xs:enumeration value="oj"/>
            <xs:enumeration value="cu"/>
            <xs:enumeration value="om"/>
            <xs:enumeration value="or"/>
            <xs:enumeration value="os"/>
            <xs:enumeration value="pa"/>
            <xs:enumeration value="pi"/>
            <xs:enumeration value="fa"/>
            <xs:enumeration value="pl"/>
            <xs:enumeration value="ps"/>
            <xs:enumeration value="pt"/>
            <xs:enumeration value="qu"/>
            <xs:enumeration value="rm"/>
            <xs:enumeration value="rn"/>
            <xs:enumeration value="ro"/>
            <xs:enumeration value="ru"/>
            <xs:enumeration value="sa"/>
            <xs:enumeration value="sc"/>
            <xs:enumeration value="sd"/>
            <xs:enumeration value="se"/>
            <xs:enumeration value="sm"/>
            <xs:enumeration value="sg"/>
            <xs:enumeration value="sr"/>
            <xs:enumeration value="gd"/>
            <xs:enumeration value="sn"/>
            <xs:enumeration value="si"/>
            <xs:enumeration value="sk"/>
            <xs:enumeration value="sl"/>
            <xs:enumeration value="so"/>
            <xs:enumeration value="st"/>
            <xs:enumeration value="es"/>
            <xs:enumeration value="su"/>
            <xs:enumeration value="sw"/>
            <xs:enumeration value="ss"/>
            <xs:enumeration value="sv"/>
            <xs:enumeration value="ta"/>
            <xs:enumeration value="te"/>
            <xs:enumeration value="tg"/>
            <xs:enumeration value="th"/>
            <xs:enumeration value="ti"/>
            <xs:enumeration value="bo"/>
            <xs:enumeration value="tk"/>
            <xs:enumeration value="tl"/>
            <xs:enumeration value="tn"/>
            <xs:enumeration value="to"/>
            <xs:enumeration value="tr"/>
            <xs:enumeration value="ts"/>
            <xs:enumeration value="tt"/>
            <xs:enumeration value="tw"/>
            <xs:enumeration value="ty"/>
            <xs:enumeration value="ug"/>
            <xs:enumeration value="uk"/>
            <xs:enumeration value="ur"/>
            <xs:enumeration value="uz"/>
            <xs:enumeration value="ve"/>
            <xs:enumeration value="vi"/>
            <xs:enumeration value="vo"/>
            <xs:enumeration value="wa"/>
            <xs:enumeration value="cy"/>
            <xs:enumeration value="wo"/>
            <xs:enumeration value="fy"/>
            <xs:enumeration value="xh"/>
            <xs:enumeration value="yi"/>
            <xs:enumeration value="yo"/>
            <xs:enumeration value="za"/>
            <xs:enumeration value="zu"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="__type__d__dialectCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="__type__d__string">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="__type__e__scope" mixed="false">
        <xs:sequence>
            <xs:element name="language" type="__type__e__language"/>
            <xs:element name="dialects" type="__type__e__dialects"/>
            <xs:element name="objectives" type="__type__e__objectives"/>
            <xs:element name="prerequisites" type="__type__e__prerequisites"/>
            <xs:element name="exclusions" type="__type__e__exclusions"/>
        </xs:sequence>
        <xs:attribute name="id" type="__type__d__id" use="required"/>
        <xs:attribute name="derivative_of" type="__type__d__id" use="optional"/>
        <xs:attribute name="derivative_type" type="__type__d__derivative_type" use="optional"/>
        <xs:attribute name="version" type="__type__d__versionNumber" use="required"/>
    </xs:complexType>
    <xs:complexType name="__type__e__language">
        <xs:attribute name="code" type="__type__d__iso_639_1" use="required"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="name_in_english" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="__type__e__dialects" mixed="false">
        <xs:sequence>
            <xs:element name="dialect" type="__type__e__dialect" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="__type__e__dialect">
        <xs:attribute name="code" type="__type__d__dialectCode" use="required"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="name_in_english" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="__type__e__objectives" mixed="false">
        <xs:sequence>
            <xs:element name="skill" type="__type__e__skill" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="__type__e__prerequisites" mixed="false">
        <xs:sequence>
            <xs:element name="item" type="__type__e__item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="__type__e__exclusions" mixed="false">
        <xs:sequence>
            <xs:element name="item" type="__type__e__item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="__type__e__skill" mixed="true">
        <xs:sequence>
            <xs:element name="m" type="__type__e__m" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="__type__e__item" mixed="true">
        <xs:sequence>
            <xs:element name="m" type="__type__e__m" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="__type__e__m" mixed="true">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="scope" type="__type__e__scope"/>
</xs:schema>
